* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-color: #000;
  padding: 20px;
  border-radius: 20px;
}
.input-field {
  border: 0;
  outline: 0;
  width: 52px;
  height: 52px;
  border-radius: 25px;
  box-shadow: -8px -8px 15px rgba(149, 133, 133, 0.05),
    5px 5px 15px rgba(93, 117, 142, 0.2);
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: ease-in;
}
.btn-clicked {
  transition: ease-out;
  transform: scale(1.07);
}
.display {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-sizing: none;
  background-color: #35352f;
  padding-right: 10px;
  border-radius: 10px;
}
.equal {
  width: 145px;
}
.display-fontsize {
  font-size: 30px;
}
.realtime {
  color: #fff3;
  position: absolute;
  right: 25px;
}
.realtime-container {
  height: 25px;
  width: 288px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.input-field[value="AC"],
.input-field[value="DE"] {
  /* color: #dde244e3; */
  background-color: orange;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.last-btn-container .input-field {
  margin: 0 5px;
}
